@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/*   Admin Dashboard   */
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
:root {
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
}
body {
  height: 100vh;
  background: var(--body-color);
  transition: all 0.5s ease;
}
body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: all 0.5s ease;
  z-index: 100;
}
.sidebar.close {
  width: 88px;
}
.sidebar .text {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
  transition: all 0.3s ease;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
}
.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}
.sidebar .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}
.sidebar li .icon,
.sidebar li .text {
  color: var(--text-color);
  transition: all 0.2s ease;
}
.sidebar li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.5s ease;
}
.sidebar li a:hover {
  background: var(--primary-color);
}
.sidebar li a.active {
  border-bottom: 3px solid var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}
.menu-links {
  padding: 0px;
}
.sidebar header {
  margin-top: 20px;
  position: relative;
}
.sidebar header img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.header-text .name {
  width: 800;
  margin-left: 20px;
}
.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background: var(--primary-color);
  color: var(--sidebar-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 22px;
  transition: all 0.4s ease;
}
body.dark .sidebar header .toggle {
  color: var(--text-color);
}
.sidebar.close header .toggle {
  transform: translateY(-50%);
}
.sidebar .menu {
  margin-top: 35px;
}

.sidebar .menu-bar {
  height: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar .search-box {
  background: var(--primary-color-light);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 15px; */
  position: relative;
}
.sidebar .search-box .icon-1 {
  display: none;
}
.sidebar.close .search-box input {
  visibility: hidden;
}
.sidebar.close .search-box .search-icon {
  display: none;
}
.sidebar.close .search-box {
  display: flex;
}
.sidebar.close .search-box .icon-1 {
  text-align: center;
  display: block;
}
.search-box input {
  height: 3em;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  padding-left: 15px;
  background: var(--primary-color-light);
}
.menu-bar .mode {
  position: relative;
  background: var(--primary-color-light);
  transition: all 0.5s ease;
}
.menu-bar .mode .moon-sun {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}
.menu-bar .mode i {
  position: absolute;
  transition: all 0.5s ease;
}
.menu-bar .mode .sun {
  opacity: 0;
}
body.dark .menu-bar .mode .sun {
  opacity: 1;
}
body.dark .menu-bar .mode .moon {
  opacity: 0;
}
.menu-bar .mode .toggle-switch {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 60px;
  cursor: pointer;
  border-radius: 6px;
  background: var(--primary-color-light);
  transition: all 0.5s ease;
}
.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 44px;
  border-radius: 25px;
  background: var(--toggle-color);
}
.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background: var(--sidebar-color);
  transition: all 0.3s ease;
}
body.dark .switch::before {
  left: 25px;
}
#sec .text .table {
  margin-top: 200px;
}
.home {
  position: relative;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background: var(--body-color);
  transition: all 0.4s ease;
}
.home .text {
  font-size: 20px;
  font-weight: 400;
  color: var(--text-color);
  padding: 8px 50px;
}
.sidebar.close ~ .home {
  left: 88px;
  width: calc(100% - 88px);
}

.alertMsg {
  width: 400px;
  text-align: center;
  position: absolute;
  top: 60px;
  z-index: 1111111;
}
